body{
	font-family: Arial;
	margin:0;
	padding:20px;
	background-color: #f1f1f1;
}
*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: #ffffff;
	padding:30px;
}
header h1{
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}

h2{
	color:#000000;
margin:1.5 0px;	
}
.leftcolumn{
float: left;
width: 75%;	
}

.rightcolumn{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #ffffff;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.rightcolumn .card img{
	margin-bottom: 10px;
}


footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

